@media (max-width: 768px) {

    .container {

        width:
            calc(100% - 35px);

    }


    .nav-container {

        width:
            calc(100% - 30px);

    }


    .logo {

        font-size: 25px;

    }


    .navbar-actions {

        gap: 7px;

    }


    .language-wrapper {

        display: none;

    }


    .hero {

        min-height: 650px;

    }


    .hero h1 {

        font-size: 40px;

    }


    .hero h2 {

        font-size: 20px;

    }


    .hero p {

        font-size: 16px;

    }


    .email-form {

        flex-direction: column;

        align-items: center;

    }


    .email-form input {

        width: 100%;

        max-width: 450px;

    }


    .get-started {

        width: fit-content;

    }


    .movie-card {

        flex-basis: 150px;

    }


    .poster {

        height: 225px;

    }


    .slider-button {

        display: none;

    }


    .footer-links {

        grid-template-columns:
            repeat(2, 1fr);

    }


    .modal-content {

        grid-template-columns: 1fr;

        padding: 25px;

    }


    .modal-poster {

        width: 220px;

        height: 320px;

        margin: auto;

    }


    .modal-info h2 {

        font-size: 28px;

    }


    .auth-box {

        padding:
            35px 25px;

    }

}


@media (max-width: 480px) {

    .logo {

        font-size: 22px;

    }


    .theme-button {

        width: 34px;

        height: 34px;

    }


    .btn-signin {

        padding:
            7px 12px;

    }


    .hero h1 {

        font-size: 34px;

    }


    .hero h2 {

        font-size: 18px;

    }


    .section {

        padding:
            40px 0;

    }


    .section h2 {

        font-size: 25px;

    }


    .footer-links {

        grid-template-columns: 1fr;

    }


    .auth-form h1 {

        font-size: 27px;

    }

}